body{
    font-family: 1em sans-serif;
    background-color: #f7f3ed;
    color: #3e3a35;
    height: 2em;
}
.nav{
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 10px;
}
.h-layout{
    display: flex;
    align-items: left;
    width: 1000px;
    margin: 50px;
    padding: 20px;
}
.h-image{
    width: 280px;
    height: 2em;
    border-radius: 15px;                    
    box-shadow: 8px;
}
.h-text{
    flex: 1;
    color: #4a4238;
}
.h-quote{
    margin-top: 25px;
    padding-left: 15px;
    border-left: 4px solid #b38b6d;
}
.h-quote{
    font-style: italic;
    color: #8c7e6c;
}