body{
    font-family: Arial, sans-serif;
    background-color: #f5f0eb;
    color: #333333;
    margin: 20px;
    padding: 0;
}
header{
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
nav{
    text-align: center;
    color: #8b5a2b;
    font-weight: bold;
    margin: 15px;
}
main{
    display: flex;
    gap: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}
main img{
    width: 250px;
    height: auto;
    border-radius: 10px;
}
fieldset{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 20px;
    border: 8px;
    max-width: 500px;
    margin: 0;
}
figure{
    display: flex;
    gap: 35px;
    justify-content: center;
    margin: 20px;
}
figure img{
    width: 300px;
    height: 500px;
    border-radius: 8px;
}